@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

*
{
    font-family: 'Josefin Sans', sans-serif;
}

$primary-color: #444943;
$secondary-color: #78928d;